@model waSysColegio.Curso

@{
    ViewBag.Title = "Create";
}
@Html.Partial("_Head_Content")

<link rel="stylesheet" href="../Styles/Formulario.css" />
<link rel="icon" type="image/png" href="~/Resources/logo-school.png" />
<link rel="shortcut icon" type="image/x-icon" href="~/Resources/logo-school.png" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-container">
    <h2 class="form-title"> Nuevo Curso</h2> <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label for="Nombre_Curso" class="form-label">Nombre del Curso</label>
            @Html.EditorFor(model => model.Nombre_Curso, new { htmlAttributes = new { @class = "form-control input" } })
            @Html.ValidationMessageFor(model => model.Nombre_Curso, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="Descripcion" class="form-label">Descripción del Curso</label>
        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control input" } })
        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
    </div>

    <div class="form-group" style="display:none">
        <label for="Estado_Registro" class="form-label">Estado del Registro</label>
        @Html.EditorFor(model => model.Estado_Registro, new { htmlAttributes = new { @class = "form-control input", @value = "Registrado" } })
        @Html.ValidationMessageFor(model => model.Estado_Registro, "", new { @class = "text-danger" })
    </div>

    <div class="form-group"> 
        <label for="ID_Personal" class="form-label">Docente asignado</label>
        @Html.DropDownList("ID_Personal", null, htmlAttributes: new { @class = "form-control select" }) 
        @Html.ValidationMessageFor(model => model.ID_Personal, "", new { @class = "text-danger" }) 
    </div>
</div>
<div class="form-group form-actions">
    <button type="submit" class="btn btn-primary">Registrar</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Regresar</a>
</div>
}

