@model waSysColegio.Seccion

@{
    ViewBag.Title = "Create";
}
@Html.Partial("_Head_Content")
<link rel="stylesheet" href="~/Styles/Formulario.css" />
<link rel="icon" type="image/png" href="~/Resources/logo-school.png" />
<link rel="shortcut icon" type="image/x-icon" href="~/Resources/logo-school.png" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-container">
        <h2 class="form-title">Registrar nueva seccion</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="Nombre_Seccion" class="form-label">Nombre de la sección</label>
            @Html.EditorFor(model => model.Nombre_Seccion, new { htmlAttributes = new { @class = "form-control input" } })
            @Html.ValidationMessageFor(model => model.Nombre_Seccion, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="Aforo" class="form-label">Aforo</label>
            @Html.EditorFor(model => model.Aforo, new { htmlAttributes = new { @class = "form-control input" } })
            @Html.ValidationMessageFor(model => model.Aforo, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" style="display:none">
            <label for="Estado_Registro" class="form-label">Estado de registro</label>
            @Html.EditorFor(model => model.Estado_Registro, new { htmlAttributes = new { @class = "form-control input" } })
            @Html.ValidationMessageFor(model => model.Estado_Registro, "", new { @class = "text-danger" })
        </div>

        <div class="form-group form-actions">
            <input type="submit" value="Registrar" class="btn btn-primary" />
            <a href="@Url.Action("/Index")" class="btn btn-secondary">Regresar</a>
        </div>
    </div>
}

