@model waSysColegio.Seccion

@{
    ViewBag.Title = "Details";
}
@Html.Partial("_Head_Content")
<link rel="stylesheet" href="~/Styles/Formulario.css" />
<link rel="icon" type="image/png" href="~/Resources/logo-school.png" />
<link rel="shortcut icon" type="image/x-icon" href="~/Resources/logo-school.png" />


<div class="details-container">
    <h2 class="details-title">Detalles de la sección "@Html.DisplayFor(model => model.Nombre_Seccion)"</h2>
    <hr />
    <dl class="details-list">
        <dt>
            Nombre de la Sección
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Seccion)
        </dd>

        <dt>
            Aforo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aforo)
        </dd>

        <dt>
            Estado de Registro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Registro)
        </dd>

    </dl>
</div>
<div class="details-actions">
   @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Seccion }, new { @class = "btn btn-primary" }) 
   @Html.ActionLink("Regresar a la lista de secciones", "/Index", null, new { @class = "btn btn-secondary" })
</div>
<style>
    /* Botones de acción */
    .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 16px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
        border: none;
        padding: 8px 16px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
        }
</style>
