@model waSysColegio.Estudiante

@{
    ViewBag.Title = "Delete";
}
@Html.Partial("_Head_Content")
<link rel="stylesheet" href="~/Styles/Formulario.css" />
<link rel="icon" type="image/png" href="../Resources/logo-school.png" />
<link rel="shortcut icon" type="image/x-icon" href="../Resources/logo-school.png" />

<div class="delete-container">
    <h2 class="delete-title">Confirmar eliminación</h2>
    <h3 class="delete-warning">¿Está seguro de que desea eliminar este estudiante?</h3>   <hr />
    <dl class="delete-details">
        <dt>Nombre</dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>Apellido</dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>Fecha de Nacimiento</dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Nacimiento)
        </dd>

        <dt>DNI</dt>

        <dd>
            @Html.DisplayFor(model => model.DNI)
        </dd>

        <dt>Direccion</dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>Estado de Registro</dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Registro)
        </dd>

        <dt>Genero</dt>

        <dd>
            @Html.DisplayFor(model => model.Genero.Nombre_Genero)
        </dd>

        <dt>Grado</dt>

        <dd>
            @Html.DisplayFor(model => model.Grado.Numero_Grado)
        </dd>

        <dt>Seccion</dt>

        <dd>
            @Html.DisplayFor(model => model.Seccion.Nombre_Seccion)
        </dd>

        <dt>Usuario</dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre_Usuario)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="delete-actions">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Cancelar", "/Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
<style>
    /* Botones de acción */
    .btn-danger {
        background-color: #dc3545;
        color: #fff;
        border: none;
        padding: 8px 16px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
    }

        .btn-danger:hover {
            background-color: #c82333;
        }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
        border: none;
        padding: 8px 16px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
        }
</style>
